body {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
  color: white;
}

.container {
  height: 100vh;
  width: 100%;
  z-index: 1;

}

.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #5a68ff;
  position: fixed;
  top: -100px;
  right: -100px;
  z-index: 2;
}

.ball:hover {
  scale: 1.1 !important;
}

.tag {
  background-color: #303dc2;
  color: white;
  border-radius: 10px;
  padding: 4px 15px;
  margin: 0px;
  margin-right: 10px;

}

.tag p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

.project {
  background-color: #717dfd;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  padding: 15px;
  left: -300px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  transition-duration: 0.4s;
}
.project:hover {
  padding-top:40px;
  border-radius:15px;
  padding-bottom:40px;
}

#quote {  
  transition-duration: 0.4s;
}
#quote:hover {
  padding-top: 20px;
  border-radius: 15px;
  padding-bottom: 20px;
}


.animated-element {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 101, 126);
  border-radius: 8px;
  position: relative;
  left: -400px;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  font-size: .85em;
  line-height: 1.4em;
  margin-bottom: 0;
}

.pmain {
  width: 60%;
  margin-top: 50px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 25vw;
  background: white;
  border-radius: 12px;
  padding: 24px;
  z-index: 100;
}

.sidebar {
  color: #5a68ff;
}

.sidebar h1,
.sidebar p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

#aboutimg {
  transition: 0.3s ease-in-out
}

#hlist {
  width: 25vw;
  height: 50vh;
  overflow-y: scroll;
  overflow-x:hidden;
}

.hitem {
  background-color: #717dfd;
  border-radius: 5px;
  position: relative;
  color:white;
  width:21vw;
  box-sizing: border-box;
  padding: 10px;
  cursor:pointer;
  display: flex;
  transition-duration: 0.4s;
  flex-direction: column;
  margin: 10px 1vw;

}

.hitem:hover {
  scale: 1.05;
}

.hitem h2, .hitem p {
  margin: 0;
  padding: 0;
  margin-bottom:2px;
  margin-top:2px;
}

.hitem p {
  font-size:13px;
}


#aboutimg:hover {
  scale: 1.05;
}

#infotop2 {
  font-size: 200px;
}

.link {
  background: transparent;
  margin: 0;
  vertical-align: center;
  padding: 10px;
  border: none;
}

.link:hover {
  scale: 1.1
}

@media screen and (max-width: 1100px) {
  #infotop2 {
    font-size: 150px;
  }

  .pmain {
    width: 70%;
  }

  /* .ball {
    width:11vh !important;
    height: 11vh !important;
  } */

  #aboutbox {
    flex-direction: column-reverse !important;

  }

  #aboutimg {
    width: 100% !important;
    height: 20% !important;
  }


}